# Project exclude paths
/.gradle/
/catalog-client/build/
/catalog-client/build/classes/java/main/
/catalog-core/build/
/catalog-core/build/classes/java/main/
/catalog-web/build/
/catalog-web/build/classes/java/main/